.bx {
  font-size: 5rem;
}
table,
th,
td {
  border: 1px solid;
  font-size: 25px;
}

.bx-question-mark {
  color: blue;
  font-size: 50px;
}
.bx-x {
  color: red;
  font-size: 50px;
}

#selectedPizzasContainer {
  display: none;
  background-color: #37752e;
  max-height: 1000px; /* Set a maximum height for the selected pizzas container */
  overflow-y: auto; /* Enable vertical scrolling if the content exceeds the maximum height */
}

#selectedPizzasList {
  padding: 0; /* Remove default padding for the list */
}

#selectedPizzasList li {
  margin: 5px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column; /* Display content in a column */
  align-items: center;
  text-align: center; /* Center text horizontally */
}

#selectedPizzasList img {
  max-width: 100px;
  margin-top: 10px; /* Add margin to push the image to the bottom */
}

li {
  list-style: none;
}

.hidden {
  display: none;
}


.selected-pizzas {
  background-color: #f4f4f4;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-top: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.selected-pizzas h3 {
  text-align: center;
}

#selectedPizzasList2 {
  list-style-type: none;
  padding: 0;
  max-height: 400px; /* Set a maximum height for the selected pizzas container */
  overflow-y: auto; /* Enable vertical scrolling if the content exceeds the maximum height */
}

#selectedPizzasList2 li {
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#selectedPizzasList2 li img {
  max-width: 100px;
  margin-right: 10px;
}

#totalPrice {
  font-weight: bold;
  font-size: 1.2rem;
}